.pizza-menu {
  background-image: linear-gradient(
    to left,

    rgb(255, 255, 255),
    rgb(126, 213, 111)
  );
}
.pizza-menu-1 {
  max-width: 60%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
